body {
    /* background-color: rgb(25, 145, 170); */
    background: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f6e5055d9ad1d603fd364c11823d026&auto=format&fit=crop&w=1504&q=80");
    background-size: cover;
    /* background-repeat: no-repeat; */
    font-family: 'Montserrat';
    color: rgba(255, 255, 255, .6);
}
html {
    /* height: 100%; */
}
.container {
    width: 80%;
    margin: 1% auto;
    padding: 1%;
    /* background: #003300; */
    border-radius: 10px;
}
#search {
    width: 60%;
    margin: 0px auto;
    text-align: center;
    background-color: rgba(100, 100, 120, .1);
    border: solid 5px #000;
    border-radius: 10px;
    padding: 10px 10px 30px 10px;
    box-shadow: 10px 10px #000000;
}
button {
    font-family: inherit;
    font-weight: 700;
    color: rgba(255, 255, 255, .8);
    background-color: rgba(255, 255, 255, 0.0);
    margin: 5px;
    padding: 5px;
    outline: none;
    border: 2px solid;
    border-radius: 10px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
button:hover{
    top: 3px;
}
input {
    background-color: rgba(255, 255, 255, .8);
    border: solid #000;
    color: #000;
    outline: none;
    border-radius: 10px;
    padding: 5px;
}
a {
    text-decoration: none;
}
#content {
    margin: 0px auto;
    padding: 1%;
}

#content ul {
    padding: 0px;
}
#content li {
    background-color: rgba(0, 0, 0, .8);
    padding: 2%;
    margin: 1%;
    list-style: none;
    color: rgba(255, 255, 255, .8);
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 10px 10px #000;
    position: relative;
    top: 0;
    transition: top ease 0.2s;
}
#content li:hover {
    top: -3px;
}
/* 
#content li p {
    height: 0px;
    opacity: 0;
    transition: 0.2s linear;
    margin: 0;
} */

/* #content li:hover p{
    height: auto;
    opacity: 1;
    margin: 10px;
} */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 5px solid rgba(255, 255, 255, .4);
    text-align: center;
    padding-top: 10px;
    color: #fff;
    height: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    transition: .5s linear;
}

footer:hover{
    height: 30px;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0%;
    }

    #search {
        width: 100%;
        margin-left: -2%;
    }
}