body {
    background-color: rgb(25, 145, 170);
    font-family: 'Montserrat';
    color: #040;
    position: relative;
}
html {
    height: 100%;
}
.container {
    width: 800px;
    margin: 5px auto;
    padding: 100px;
    /* background: #003300; */
    border-radius: 10px;
}
#search {
    width: 600px;
    margin: 0px auto;
    text-align: center;
    background-color: #fff;
    border: solid 5px #004000;
    border-radius: 10px;
    padding: 10px 10px 30px 10px;
    box-shadow: 10px 10px #004000;
}
button {
    font-family: inherit;
    font-weight: 700;
    color: #040;
    background-color: rgba(255, 255, 255, 0.0);
    margin: 5px;
    padding: 5px;
    outline: none;
    border: 2px solid;
    border-radius: 10px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
button:hover{
    top: 3px;
}
input {
    background-color: rgba(255, 255, 255, 1);
    border: solid #040;
    color: #040;
    outline: none;
    border-radius: 10px;
    padding: 5px;
}
a {
    text-decoration: none;
}
#content {
    margin: 0px auto;
    padding: 10px;
}

#content ul {
    padding: 0px;
}
#content li {
    background-color:#ffffff;
    padding: 10px;
    margin: 5px;
    list-style: none;
    color: #040;
    border: 2px solid #040;
    border-radius: 10px;
    box-shadow: 10px 10px #004000;
    /* position: relative;
    top: 0;
    transition: top ease 0.2s; */
}
/* #content li:hover {
    top: -3px;
} */

#content li p {
    height: 0px;
    opacity: 0;
    transition: 0.2s linear;
    margin: 0;
}

#content li:hover p{
    height: auto;
    opacity: 1;
    margin: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 5px solid #fff;
    text-align: center;
    padding-top: 10px;
    color: #fff;
    height: 0px;
    width: 100%;
    background-color: #040;
    transition: .5s linear;
}

footer:hover{
    height: 30px;
}